boto3
botocore
cachetools
cv
Flask
google-api-cor
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
httplib2
joblib
keras
matplotlib
mpmath
multidict
numpy
oauthlib
opencv-python
opencv-python-headless
pandas
pillow
propcache
python-dotenv
requests
requests-oauthlib
requests-toolbelt
scikit-learn
scipy
seaborn
selenium
shapely
torch
torchaudio
torchvision
tqdm
